#footer{
    background-color:  #6da65b;
    color:white;
    text-align: center;
    padding-top:15px;
    padding-bottom: 5px;
    width:100%;
}
.pagetop{
    width:100%;
}
#navbar{
    font-family: 'EB Garamond', serif;
}
#footer{
    font-family: 'EB Garamond', serif;
}
#aboutme{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'EB Garamond', serif;
}
#headshot{
    width: 20em;
}
 /* Resume Section Style */
 #Rtitle{
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 45px;
    margin-left:13%;
    margin-bottom: 20px;
    padding-top: 15px;
} 
#resume{
    background-color: #6da65b;
    padding-top: 10px;
    margin-top: 50px;
    margin-right:0px;
    margin-left:0px;
}
.jobsec{
    background-color: white;
    width:75%;
    margin:0 auto;
    padding:10px;
}
.jobtitle{
    color:#6da65b;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}
.jobdate{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
.jobdescript{
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
ul{
    font-family: 'EB Garamond', serif;
    font-size: 15px;
}
#respdf{
    background-color: white;
}
 /* Skill Section Style */
#skills{
    background-color: #6da65b;
    padding:15px;
}
#stitle{
    font-family: 'EB Garamond', serif;
    color: white;
    font-size: 45px;
    margin-left: 13%;
    padding-top: 15px;
}
#skilllist{
    background-color: white;
    width: 75%;
    padding:15px;
    margin:0 auto;
    color:#6da65b;
    font-family: 'EB Garamond', serif;
    font-size:17px;
}
 /* Clip  Section Style */
 .container{ 
    padding-top: 60px;
 }


 /* Link Style */
 a:link {
    color:black;
  }
  
  /* visited link */
  a:visited {
    color:#6da65b;
  }
  
  /* mouse over link */
  a:hover {
    color:black;
  }
  
  /* selected link */
  a:active {
    color: gray;
  }