 /* Footer Style */
 #footer{
    background-color:  #6da65b;
    color:white;
    text-align: center;
    padding-top:15px;
    padding-bottom: 5px;
    width:100%;
    font-family: 'EB Garamond', serif;
 }
 /* Pagetopper style */
 .pagetop{
    width:100%;
}
/* Navbar */ 
.navbar{
    font-family: 'EB Garamond', serif;
}
/* About Me Section Style */
#aboutme{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'EB Garamond', serif;
}
#headshot{
    width: 20em;
}